$color-yellow: #ffcb66;
$color-orange: #ffa800;
$color-white: #ffffff;
$color-grey: #2f4858;
$color-black: #000000;

@font-face {
    font-family: Oswald-font;
    src: url("../fonts/Oswald-Medium.ttf");
}

@font-face {
    font-family: Montserrat-regular;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-medium;
    src: url("../fonts/Montserrat-Medium.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

.scroll-y {
    overflow-y: hidden;
}

h1 {
    font-family: Oswald-font;
    font-size: 48px;
    text-transform: uppercase;
    color: $color-grey;
}

h2 {
    font-family: Oswald-font;
    font-size: 30px;
    text-transform: uppercase;
    color: $color-grey;
}

h3 {
    font-family: Oswald-font;
    font-size: 24px;
    text-transform: uppercase;
    color: $color-grey;
}

// Header start
.sticky-header {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 22;
}

.container {
    display: flex;
    padding: 0 62px;
    width: 100%;
    height: 92.5px;
    background-color: $color-white;
    position: absolute;
    z-index: 10;
}

.sparkle-logo {
    height: 100%;
    position: relative;
    z-index: 8;
}

// nav li { padding-left: 35px; }

nav li:first-child { padding-left: 84px; }

nav a {
    display: flex;
    font-family: Montserrat-regular;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #060606;
    position: relative;
    padding-bottom: 6px;
}

nav a::after {
    position: absolute;
    bottom: 0;
    content: "";
    background-color: $color-orange;
    height: 3px;
    width: 0;
    transition: width .3s ease-out;
}

nav a:hover::after {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    flex: 1;
}

.lang-container {
    position: relative;
    display: flex; //WARNING
    flex: 1;
    justify-content: flex-end;
}

nav ul {
    width: 100%;
    padding-right: 51px;
    display: flex; //WARNING
    align-items: center;
    justify-content: space-between;
}

.bg-sesction {
    margin-top: 90px;
    position: absolute;
    width: 100%;
}

.bg-container {
    height: 722px;
    margin-top: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: url("../img/bg-video.png");
    // background-size: cover;
    // background-repeat: no-repeat;
}

.texture {
    position: absolute;
    top: 90px;
    z-index: 2;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.play-btn {
    width: 100%;
}

.header-section {
    position: relative;
    //height: 769px;
}

// Header end

//Video start

.video-section {
    position: relative;
    padding-top: 90px;
    .video-holder {
        position: relative;
        .bg-btn {
            width: 105px;
            position: absolute;
            z-index: 3;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

//Video end

//Hamburger Menu start

.button_container {
    display: none;
    position: relative;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    
    &:hover {
      opacity: .7;
    }
    
    &.active {
      .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: $color-black;
      }
      .middle {
        opacity: 0;
        background: $color-black;
      }
      
      .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: $color-black;
      }
    }
    
    span {
    background: $color-black;
    border: none;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;
      
      &:nth-of-type(2) {
        top: 11px;
      }
      
      &:nth-of-type(3) {
        top: 22px;
      }
    }
  }

.overlay {
    position: fixed;
    background: $color-white;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    &.open {
        opacity: 1;
        visibility: visible;
        height: 100%;
        
        li {
            animation: fadeInRight .5s ease forwards;
            animation-delay: .35s;
            &:nth-of-type(2) {
                animation-delay: .4s;
            }
            &:nth-of-type(3) {
                animation-delay: .45s;
            }
            &:nth-of-type(4) {
                animation-delay: .50s;
            }
            &:nth-of-type(5) {
                animation-delay: .55s;
            }
            &:nth-of-type(6) {
                animation-delay: .60s;
            }
        }
    }
    nav {
        position: relative;
        height: 76%;
        bottom: 0;
        font-size: 50px;
        font-family: 'Varela Round', serif;
        font-weight: 400;
        text-align: center;
    }
    ul {
        padding: 0;
        display: flex;
        position: relative;
        height: 100%;
        flex-direction: column; 
        
        li {
            position: relative;
            opacity: 0;
            a {
                display: block;
                position: relative;
                color: $color-black;
                text-decoration: none;
                overflow: hidden;
                &:hover:after,
                &:focus:after,
                &:active:after {
                    width: 100%;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0%;
                    transform: translateX(-50%);
                    height: 3px;
                    background: $color-orange;
                    transition: .35s;
                }
            }
        }
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

//Hamburger Menu end

//Navigation media query
@media only screen and (max-width: 1200px) {
    .button_container {
        display: block;
    }
    nav {
        justify-content: flex-end;
        ul {
            display: none;
        }
        li:first-child {
            padding-left: 0;
        }
        a {
            font-weight: 500;
            font-size: 24px;
            &:hover {
                font-weight: 600;
            }
        }

    }
    .lang-container {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .overlay {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    // .header-section {
    //     height: 397px;
    //     .bg-container {
    //         height: 397px;
    //     }
    // }
}

@media only screen and (max-width: 320px) {
    // .header-section {
    //     height: 169px;
    //     .bg-container {
    //         height: 169px;
    //         margin-top: 90px;
    //     }
    // }
    .container {
        padding: 0px 10px;
    }
    .sparkle-logo {
        height: 85%;
    }
}

//Navigation media query

// Text section start
.text-container {
    position: relative;
    width: 654px;
    display: block;
    margin: 0 auto;
    background-color: $color-white;
    font-family: Montserrat-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2F4858;
}

.text-hold {
    margin: 150px 0 150px 0;
}

//Media query
@media only screen and (max-width: 768px) {
    .text-container {
        width: 608px;
    }
}

@media only screen and (max-width: 320px) {
    .text-container {
        width: 249px;
        font-family: inherit;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
    .text-hold {
        margin: 80px 0 80px 0;
    }
}

// Text section end


// Gallery section start
.gallery-container {
    position: relative;
    // height: 398px;
    width: 100%;
    display: flex;
    align-items: center;
}

.img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.img-container {
    //display: flex;
    flex-grow: 1;
}

.flex-row {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.img-holder {
    width: 100%;
}
.vertical-img img {
    display: flex;
}

.top-texture {
    position: absolute;
    top: -1px;
    z-index: 2;
}

.bottom-texture {
    position: absolute;
    bottom: -1px;
    z-index: 2;
    transform: rotate(180deg);
}
// Gallery section end

//Text and button start
.btn-form-container {
    position: relative;
    margin-top: 150px;
    background-color: $color-white;
}

.question-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 180px;
}

.text-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-btn button {
    width: 233px;
    height: 50px;
    background-color: $color-orange;
    font-family: Montserrat-regular;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $color-white;
    border: none;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 25px;
}

// @media only screen and (max-width: 320px) {
//     .text-hold {
//         margin: 170px 0 80px 0;
//     }
// }

//Media query
@media only screen and (max-width: 768px) {
    .question-container {
        flex-direction: row-reverse;
        padding: 0;
        .text-btn {
            width: 233px;
            justify-content: space-between;
            line-height: 27px;
            text-align: center;
            h3 {
                font-size: 18px;
            }
        }
    }
}
@media only screen and (max-width: 320px) {
    .btn-form-container {
        margin-top: 120px;
    }
    .question-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        .text-btn {
            width: 280px;
            ::after {
                margin-top: 80px;
            }
        }
    }
    .text-btn:last-child {
        margin-top: 80px;
    }
    .bottom-texture {
        bottom: 3px;
    }
}
//Text and button end

//Form start
.form-container {
    position: relative;
    width: 612px;
    margin: 0 auto;
    // padding: 0 27.5988%;
    h2 {
        text-align: center;
        margin-top: 150px;
    }

    ::placeholder {
        position: absolute;
        margin-top: 12px;
        padding-left: 13px;
        font-family: Montserrat-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: -0.015em;
        color: #2f4858;
        opacity: 1;
    }

    .input-fl-container {
        display: flex;
        justify-content: space-between;
        input {
            border:none;
            width: 296px;
            height: 43px;
            margin-top: 55px;
        }
    } 

    input {
        border: none;
        background: rgba(196, 196, 196, 0.4);
        border-radius: 6px;
        
    }
    
    .input-ph-container {
        margin-top: 15px;
        input {
            width: 100%;
            height: 43px;
        }
    }

    .qc-container {
        margin-top: 15px;
        input {
            width: 100%;
            height: 232px;
        }
    }

    .mandatory-inputs {
        font-family: Montserrat-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #2F4858;
        margin-top: 15px;
    }

    .mandatory-checkbox {
        font-family: Montserrat-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #2F4858;
        margin-top: 25px;
        display: flex;
        padding-left: 5px;
        width: 100%;
        position: relative;
        input {
            display: block;
            width: 16px;
            height: 16px;
            appearance: none;
            border-radius: 3px;
            outline: none;
        }

        input:checked {
            appearance: none;
            outline: none;
            background-color: $color-orange;
        }

        label {
            padding-left: 37px;
            display: block;
            position: absolute;
        }
    }

    .submit-container {
        margin-top: 70px;
        margin-bottom: 150px;
        button {
            display: block;
            margin: 0 auto;
            width: 182px;
            height: 62px;
            font-family: Montserrat-regular;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            background-color: $color-orange;
            border-radius: 31px;
            border: none;
            outline: 0;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .form-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .form-container .checkmark:after {
    left: 11px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid $color-white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

//Media query
@media only screen and (max-width: 320px) {
    .form-container {
        width: 280px;
        .input-fl-container {
            display: flex;
            flex-direction: column;
            input {
                width: 100%;
            }
            input:last-child {
                margin-top: 10px !important;
            }
        }
        .mandatory-checkbox label {
            font-size: 12px !important;
        }
        .submit-container {
            margin-top: 97px;
            margin-bottom: 120px;
        }
    }
}


//Form end

//Atbalstitaji start
.atbalstitaji-texture {
    position: relative;
    bottom: -1px;
    z-index: 3;
    display: flex;
    transform: rotate(180deg);
}

.atbalstitaji-section {
    position: relative;
    background-color: $color-yellow;
    .atbalstitaji-container {
        margin: 0 auto;
        padding: 0 12.3%;
    }

    .text-atbalstitaji {
        padding-top: 65px;
        width: 100%;
    }
    h3 {
        display: block;
        font-family: Oswald-font;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #2F4858;
    }

    .logo-container {
        margin-top: 89px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .atbalstitaji-texture {
        margin-top: 158px;
    }
}

@media only screen and (max-width: 768px) {
    .logo-container {
        align-items: center;
        .item-holder {
            width: 21%;
            img {
                width: 100%;
            }
        }
        div:last-child img {
            width: 45%;
        }
    }
    .atbalstitaji-section {
        .logo-container {
            margin-top: 36px;
        }
        .atbalstitaji-texture {
            margin-top: 80px;
        }
    }
}

@media only screen and (max-width: 320px) {
    .atbalstitaji-section {
        .atbalstitaji-container {
            padding: 0 22px;
        }
    }
    .logo-container {
        .item-holder {
            width: 42%;
        }
    }
}

//Atbalstitaji end


//Footer start

.footer-info {
    position: relative;
    background-color: $color-grey;
    font-family: Montserrat-regular;
    font-style: normal;
    color: #FFFFFF;
    .footer-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1435px;
        padding: 20px 0;
    }
    .footer-logo {
        position: relative;
        width: 182px;
        font-size: 14px;
        #show-this {
            display: none;
        }
    }
    .copyrights-text {
        margin-top: 70px;
    }
    ul li {
        padding-bottom: 21px;
    }
    ul li:last-child {
        padding-bottom: 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .f-size-18 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    .f-size-24 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
    }
    .footer-requisites div {
        padding-bottom: 10px;
    }
    .footer-requisites div:first-child {
        padding-bottom: 22px;
    }
    .footer-requisites div:last-child {
        padding-bottom: 0;
    }
    .footer-founder {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .founder-info {
            text-align: right;
            div {
                padding-bottom: 10px;
            }
            div:first-child {
                padding-bottom: 22px;
            }
            div:last-child {
                padding-bottom: 0;
            }
        }
        .soc-media-holder {
            position: relative;
            display: flex;
            flex-direction: row;
            .fb-logo {
                margin-right: 30px;
            }
            div {
                height: 36px;
                img {
                    height: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    .footer-info {
        .footer-container {
            max-width: 1242px;
        }
    }
    
}

@media only screen and (max-width: 768px) {
    .footer-info {
        .footer-logo {
            width: auto;
        }
        .footer-container {
            max-width: 608px;
        }
    }
    .footer-menu {
        display: none;
    }
    .footer-requisites {
        display: none;
    }
    .founder-info::after {
        position: relative;
        content: "Skatīt rekvizītus";
        font-family: Montserrat-medium;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 65px;
        letter-spacing: 0em;
        text-align: right;
        cursor: pointer;
    }

    .show-requisites {
        display: block !important;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 320px) {
    .footer-info {
        .footer-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 280px;
        }
        .footer-founder {
            align-items: flex-start;
            .founder-info {
                text-align: left;
                margin-top: 20px;
            }
        }
    }
}

// Footer end

// Cookies start
.cookies-section {
    position: fixed;
    display: block;
    bottom: 0;
    left: 50%;
    max-width: 818px;
    height: 94px;
    background: #2F4858;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    z-index: 4;
    transform: translateY(5px) translateX(-50%);
    .cookies-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 30px 46px 0 30px;
        .cookies-btn button {
            width: 131px;
            height: 34px;
            background-color: #ffa800;
            font-family: Montserrat-medium;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #ffffff;
            border: none;
            outline: 0;
            cursor: pointer;
            text-decoration: none;
            border-radius: 17px;
        }
        .decline-btn {
            background-color: $color-white !important;
            color: $color-grey !important;
        }
        .cookies-text {
            position: relative;
            width: 415px;
            font-family: Montserrat-regular;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: $color-white;
            a {
                text-decoration: none;
                color: inherit;
                font-weight: 700;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .cookies-section {
        max-width: 600px;
        .cookies-container {
            align-items: center;
        }
    }
}

@media only screen and (max-width: 320px) {
    .cookies-section {
        max-width: 280px;
        height: 235px;
        .cookies-container {
            display: flex;
            flex-direction: column;
            padding: 10px 25px 0 25px;
            .cookies-text {
                width: auto;
                text-align: center;
            }
            div {
                margin-bottom: 10px;
            }
        }
    }
}
// Cookies end

//Error page start
.error-section {
    padding-top: 250px;
    position: relative;
    background-color: $color-yellow;
    .error-container {
        position: relative;
        max-width: 600px;
        margin: 0 auto;
        .error-num {
            position: relative;
            font-family: Oswald-font;
            font-size: 96px;
            font-style: normal;
            font-weight: 700;
            line-height: 142px;
            letter-spacing: 0em;
            text-align: center;
            color: $color-white;

        }
        .not-found-text {
            position: relative;
            font-family: Oswald-font;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: center;
            color: $color-grey;
            margin-top: 40px;
        }
        .error-descr {
            position: relative;
            font-family: Montserrat-regular;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            margin-top: 30px;
        }
        .tothe-beginning-btn {
            margin-top: 50px;
            margin-bottom: 157px;
            a {
                display: block;
                margin: 0 auto;
                text-decoration: none;
                color: $color-orange;
                font-family: Montserrat-medium;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 50px;
                letter-spacing: 0em;
                text-align: center;
                width: 233px;
                height: 50px;
                border-radius: 25px;
                background-color: $color-white;
                cursor: pointer;
            }
        }
        
        
    }
}

@media only screen and (max-width: 320px) {
    .error-section {
        .error-container {
            max-width: 280px;
        }
    }
}

.error-nav {
    height: auto;
    width: 100%;
    .texture {
        filter: none;
    }
}